:root{
    --font1: "Montserrat", serif;
    --colorPrimario: #12a8a6;
    --colorSecundario: #009285;
    --white: #fff;
    --black: #000;
}

/*globales */

*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    font-family: var(--font1);
}

/* ************ pagina home *************** */

/* ******* navegador ******/

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white);
    align-items: center;
}

.logo-redes{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    gap: 50px;
    border-bottom: 2px solid var(--colorPrimario);
    background-image: url('../img/banner_principal_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}

.logo{
    width: 200px;
}

.logo-link img{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    position: absolute;
    top:10px;
    right: 10px;
}

.redes-link img{
    width: 28px;
}

.contendor-menu{
    width: 100%;
    display: flex;    
    justify-content: center;
}

.lista{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
}

.lista-opcion{
    background-color: var(--colorPrimario);
    margin: 13px 3px 0 3px;
    text-align: center;
    align-content: center;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    border: 2px solid #017269;
    
}

.lista-opcion a{
    color: var(--white);
    border-bottom: 2px solid transparent;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

.lista-opcion a:hover{
    color: var(--black);
    border-bottom: 2px solid var(--colorPrimario);
    border-bottom: 2px solid var(--black);
}

.menu .menu-btn{
    align-items: center;
    justify-content: center;
}

.menu-btn{
    display: none;
    background-color: var(--colorPrimario);
    border: 2px solid var(--colorPrimario);
    color: var(--white);
    font-size: 22px;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.menu-btn.is-open{
    background: var(--colorPrimario);
    color: var(--black);
}

/* carrusel */

.carrusel{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 40px 0 0 0;
}

.carrusel-slide {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.banner {
    flex: 0 0 100%;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img{
    width: 100%;
    height: 100%;
    display: block;
    margin: 10px 30px;
}

/* flechas*/

.flecha{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #6c6c6c;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 30%;
    opacity: 0.8;
}

.flecha:hover{
    background: rgba(83, 83, 83, 0.6);
}

.izquierda{
    left: 10px;
}

.derecha{
    right: 10px;
}

/* Sección nosotros */

.nosotros{
    background-image: url("../img/banner-nosotros.jpg");
    background-size: cover;
    width: 100%;
    height: 450px;
    margin: 70px 0;
    font-family: var(--font1);
    font-weight: 700;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
}

.banner-nosotros{
    width: 750px;
    margin: 70px;
}

.sombreado{
    background-color: var(--black);
}

.btn-nosotros{
    width: 170px;
    height: 50px;
    margin: 300px 100px 0 0;
    right: 5px;
    border: 2px solid var(--white);
    border-radius: 10px;
    background-color: var(--black);
    cursor: pointer;
}

.btn-nosotros a{
    color: var(--white);
    font-family: var(--font1);
    font-weight: 500;
    font-size: 28px;
}

.btn-nosotros a:hover{
    color: var(--colorPrimario);
}

/* Productos destacados */

.destacados{
    position: relative;
    width: 100%;    
    text-align: center;
    font-family: var(--font1);
}

.destacados h2{
    margin: 15px;
    font-size: 30px;
}

.productos-contenedor{
    overflow: hidden;
    margin: 0 100px;
}

.productos-slide{
    display: flex;
    transition: transform 0.4s ease;
}

.producto{
    display: flex;
    flex: 0 0 350px;
    flex-direction: column;
    justify-content: center;
}

.img-producto:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.img-producto img{
    width: 200px;
    height: 200px;
    margin: 30px;
}

.texto-producto{
    margin: 10px;
    font-weight: 500;
}

.flecha-prod {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    border: none;
    color: #6c6c6c;
    font-size: 24px;
    padding: 8px 12px;
    margin: 0 50px;
    cursor: pointer;
    border-radius: 30%;
    z-index: 10;
    opacity: 0.8;
}

.flecha-prod:hover{
    background-color: #000;
}

.left-prod {
    left: 10px;
}

.right-prod {
    right: 10px;
}

.flecha-prod:hover {
    background: rgba(0,0,0,0.6);
}

/* Page Producto */

.precio{
    font-weight: bold;
    color: var(--colorSecundario);
    margin-top: 5px;
}

.texto-producto h4{
    color: var(--black);
}

.descripcion{
    font-size: 0.85rem;
    opacity: 0.8;
    color: var(--black);
}

.producto-detalle{
    display: flex;
    gap: 40px;
    padding: 40px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.producto-detalle img{
    width: 400px;
    border-radius: 10px;
}

.info-producto{
    max-width: 400px;
    height: 200px;
}

.info-producto h3{
    margin-bottom: 20px;
}

.btn-comprar{
    background: #00ff9c;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-comprar:hover{
    transform: scale(1.2);
    color: #017269;
    font-weight: 600;
}

/* Seccion Servicios */

.contenedor-servicios{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 30px 0;
    background-color:#e4e4e4;
    background-image: url("../img/banner-categoria.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    padding: 30px 0;
}

.titulo-serv{
    color: #000;
    font-weight: 700;
    margin: 20px 0;
    font-size: 35px;
}

.contenedor-cajas{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 20px 60px;
}

.caja-servicio{
    width: 350px;
    height: 600px;
    text-align: left;
    border-radius: 20px;
    background-color: var(--colorPrimario);
    box-shadow: 1px 1px 20px #6c6c6c;
}

.img-servicio{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 20px 20px 0 0;
}

.caja-servicio h3{
    padding: 0 25px 15px 25px;
}

.caja-servicio p{
    padding: 0 25px 15px 25px;
}

.caja-servicio h3{
    font-size: 25px;
}

.link-servicio{
    margin: 25px;
    color: var(--white);
    font-size: 20px;
    border-bottom: 2px solid transparent;
}

.link-servicio:hover{
    border-bottom: 2px solid var(--black);
    color: var(--black);
}

/* Boton whatsapp */

/* Botón flotante de WhatsApp */
.btn-wts {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
    z-index: 2000;
    transition: transform 0.3s ease;
}

.btn-wts img {
    width: 50px;
    height: 50px;
}

.btn-wts:hover {
    transform: scale(1.15);
}

/* seccion actualidad */

.contrenedor-actualidad{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 70px;
    padding: 20px;
}

.info-actualidad{
    width: 400px;
}

.info-actualidad p{
    margin: 10px 0;
    font-size: 18px;
}

.info-actualidad h2{
    font-size: 25px;
}

.img-actualidad{
    width: 500px;
}

.btn-blog{
    padding: 5px;
    background-color: var(--black);
    width: 100px;
    border-radius: 5px;
}

.btn-link-actualidad{
    color: var(--white);
    font-weight: 400;
}

.btn-link-actualidad:hover{
    color: var(--colorPrimario);
}

.img-actualidad img{
    width: 100%;
    border-radius: 20px;
}



/* Footer */

.footer {
    background: #000;
    color: #fff;
    padding: 40px 20px 15px;
    font-family: var(--font1);
}

.footer-contenido {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 170px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.footer-menu a:hover {
    color: var(--colorPrimario);
}

.footer-contacto p {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.icono {
    width: 20px;
}

.footer-siguenos {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 12px;
}

.icono-red {
    width: 22px;
    margin-left: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.icono-red:hover {
    transform: scale(1.2);
}

.footer-copy {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    opacity: 0.8;
}

/* ********* page catalogo *********** */

.img-banner-producto{
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.img-banner-producto img{
    width: 90%;
    height: 100%;
}

/* CONTENEDOR PRINCIPAL */
.catalogo-grid {
    text-align: center;
}

/* GRID GENERAL */
.grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 30px 0;
}

/* CARD DEL PRODUCTO */
.producto-grid {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}


.producto-grid img {
    width: 300px;
    height: 300px;
}

/* CATEGORÍAS */
.categoria-bloque {
    margin-bottom: 40px;
}

.categoria-titulo {
    font-size: 28px;
    margin-top: 30px;
    font-family: var(--font1);
    color: var(--colorPrimario);
}

/* BUSCADOR Y FILTROS */
.buscador-catalogo input,
.filtros-catalogo select {
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    width: 280px;
}

/* ********* Page Servicios ********* */

.page-servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.page-servicios p{
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0;
}


.servicios-cajas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.servicio-caja {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.servicio-caja img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.texto-servicios h2 {
    font-size: 22px;
    margin-bottom: 10px;
    margin: 15px;
}

.texto-servicios p {
    font-size: 15px;
    opacity: 0.85;
    margin: 15px;
}

.btn-servicios{
    padding: 5px;
    background-color: var(--colorPrimario);
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin: 20px;
}

.btn-link-servicio{
    color: var(--white);
    font-weight: 400;
}

.btn-link-servicio:hover{
    color: var(--black);
}
